/* body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
      "header header"
      "main nav";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
  }
  
  
  
  
  /* nav {
    grid-area: nav;
    border: 2px solid green;
    grid-auto-flow: row dense;
    grid-auto-rows: 100px;
  } */

  /* .section {
    grid-auto-flow: row dense;
    grid-auto-rows: 100px;
    grid-template-columns: 1fr 2fr;
        border: 2px solid purple; 
  } */


  main {
    /* border: 2px solid blue; */
    padding-top: 550px;
    
  
  } 
/* 
  main #main-map {
    border: 2px solid red;
    position:absolute; 
    opacity: 0.5;
    top:0; 
    bottom:0; 
    width:95%; 
  }
     */

  

  #main-map {
    /* border: 2px solid yellow; */
    position:absolute;
    top:10%; 
    bottom:10%; 
    width:100%;
  }
  
  header {
    padding-left: 10px;
    grid-area: header;
    /* border: 2px solid red;
    background-color: blue; */
    color: white;
    /* padding-top: 200px; */
  }